/* Reset */

@import url(https://fonts.googleapis.com/css?family=Poiret+One);
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600&display=swap');

* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  padding: 15px;
  margin: auto;
}

/* Introduction */

#introduction {
  width: 100%;
  min-height: 100vh;
  background-color: #DFE6E9;
}

#introduction .container {
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  align-items: center;
}

/* Introduction -> Image */

.imageDiv img {
  max-width: 400px;
  height: auto;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  box-shadow: 10px 10px 30px gray;
  position: relative;
}

/* Introduction -> Content */

.contentDiv {
  width: 100%;
  min-height: 400px;
  background-color: white;
  box-shadow: 10px 10px 8px #CCC;
}

/* Introduction -> Content -> Infos Container */

.contentDiv .infosContainer::before {
  content: '';
  display: block;
  width: 100%;
  height: 5px;
  background-color: #333;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.contentDiv .infosContainer {
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

/* Introduction -> Content -> Infos Container -> Info Items */

.infosContainer .info {
  padding: 20px 0px;
  border-top: 1px solid #DDD;
}

.infosContainer .info:first-child {
  border-top: 0px;
}

.infosContainer .info h3 {
  font-size: 1.1875em;
  line-height: 2em;
  font-family: 'Poiret One', Segoe, 'Segoe UI', 'Helvetica Neue', Arial, monospace, sans-serif;
  font-weight: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.infosContainer .info p {
  font-size: 1.1875em;
  font-family: 'Poiret One', Segoe, 'Segoe UI', 'Helvetica Neue', Arial, monospace, sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
}

/* Introduction -> Learn More */

#introduction .learnMore {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  padding-bottom: 20px;
  color: #333;
  font-size: 1em; 
  letter-spacing: 2px;
}

/* Games Timeline -> Title */

#gamesTimeline .titleDiv {
  margin-top: 30px;
}

#gamesTimeline .titleDiv h1 {
  font-size: 2em;
  line-height: 2.25em;
  font-family: 'Poiret One', Segoe, 'Segoe UI', 'Helvetica Neue', Arial, monospace, sans-serif;
  font-weight: normal;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
}

#gamesTimeline .titleDiv h1::after {
  content: '';
  width: 150px;
  height: 1px;
  background-color: #DFE6E9;
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
}

/* Games Timeline -> Timeline */

.timeline {
  font-family: 'Montserrat', sans-serif;
  position: relative;
  margin: 50px auto;
  padding: 40px 0;
  width: 100%;
  box-sizing: border-box;
}

/* Games Timeline -> Timeline -> Central Line */

.timeline::before {
  content: '';
  position: absolute;
  left: 50%;
  width: 2px;
  height: 100%;
  background-color: #DFE6E9;
}

/* Games Timeline -> Timeline -> Items */

.timeline ul li.timelineItem {
  list-style: none;
  position: relative;
  width: 50%;
  padding: 20px 40px;
  box-sizing: border-box;
}

.timeline ul li.timelineItem:nth-child(odd) {
  float: left;
  text-align: right;
  clear: both;
}

.timeline ul li.timelineItem:nth-child(even) {
  float: right;
  text-align: left;
  clear: both;
}

.timeline ul li.timelineItem:nth-child(odd)::before {
  content: '';
  position: absolute;
  top: 24px;
  right: -6px;
  width: 10px;
  height: 10px;
  background-color: rgba(51, 51, 51, 1);
  border-radius: 50%;
  box-shadow: 0 0 0 3px rgba(51, 51, 51, 0.2);
}

.timeline ul li.timelineItem:nth-child(even)::after {
  content: '';
  position: absolute;
  top: 24px;
  left: -6px;
  width: 10px;
  height: 10px;
  background-color: rgba(51, 51, 51, 1);
  border-radius: 50%;
  box-shadow: 0 0 0 3px rgba(51, 51, 51, 0.2);
}

/* Games Timeline -> Timeline -> Item -> Content */

.timeline ul li.timelineItem .timelineContent {
  padding-bottom: 20px;
}

/* Games Timeline -> Timeline -> Item -> Content -> Title */

.timeline ul li.timelineItem .timelineContent h3 {
  font-weight: 600;
  color: #333;
}

/* Games Timeline -> Timeline -> Item -> Content -> Items spacement */

.timeline ul.timelineGames {
  margin: 20px 0px;
}

/* Games Timeline -> Timeline -> Item -> Content -> Game List */

.timeline ul.timelineGames li {
  list-style: none;
  line-height: 1.3125em;
}

.timeline ul li.timelineItem:nth-child(odd) .time button {
  border: 0;
  position: absolute;
  top: 12px;
  right: -165px;
  font-family: 'Montserrat', sans-serif;
  padding: 10px 20px;
  background-color: #333;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
  box-shadow: 0 0 0 3px rgba(51, 51, 51, 0.2);
}

.timeline ul li.timelineItem:nth-child(even) .time button {
  border: 0;
  position: absolute;
  top: 12px;
  left: -165px;
  font-family: 'Montserrat', sans-serif;
  padding: 10px 20px;
  background-color: rgba(51, 51, 51, 1);
  color: white;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
  box-shadow: 0 0 0 3px rgba(51, 51, 51, 0.2);
}

.timeline ul li.timelineItem .time button:hover {
  background-color: rgba(51, 51, 51, 0.8);
  transition: all .25s ease-in-out;
}

/* Media Querys */

@media only screen and (max-width: 768px) {
  #introduction .container {
    flex-direction: column;
  }
  .imageDiv img {
    border-radius: 10px;
  }
  .timeline::before {
    left: 20px;
  }
  .timeline ul li.timelineItem:nth-child(odd),
  .timeline ul li.timelineItem:nth-child(even) {
    width: 100%;
    text-align: left;
    padding-left: 50px;
    padding-bottom: 50px;
  }
  .timeline ul li.timelineItem:nth-child(odd)::before,
  .timeline ul li.timelineItem:nth-child(even)::before,
  .timeline ul li.timelineItem:nth-child(odd)::after,
  .timeline ul li.timelineItem:nth-child(even)::after {
    top: -18px;
    left: 16px;
  }
  .timeline ul li.timelineItem:nth-child(odd) .time button, 
  .timeline ul li.timelineItem:nth-child(even) .time button {
    top: -30px;
    left: 50px;
  }
}

@media only screen and (max-width: 410px) {
  .imageDiv img {
    width: 300px;
  }
}